body {
	background-color: #F0ffff;
	font-color: black;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E6E6FA;
}

header li {
  float: left;
}

li a {
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ADD8E6;
}
h3{
		font-size: 20px;
  font-weight: bold;
  background-color:LawnGreen;
  opacity: .6;
	}
	ul{
		background-color: LavenderBLush;
		font-size: 15px;
	}